.brandPage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.brandPage .logoArea {}
.brandPage .h1 {}
.brandPage p {}
body.bodyPage {
    min-height: 100vh;
    background-color: #008280;
    background: linear-gradient(340deg, #008280, #004339);
}
.showingImgBox {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    border-radius: 16px;
    overflow: hidden;
}
.selectImgs .singleImgBox {
    text-align: center;
    color: #008280;
    font-weight: bold;
}
.selectImgs .singleImgBox .imgBox {
    height: 102px;
    width: 102px;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.selectImgs .singleImgBox:hover .imgBox, 
.selectImgs .singleImgBox .imgBox.active {
    border-color:#008280 ;
}
.selectImgs .singleImgBox:first-child .imgBox {
    color: #fff;
    font-size: 40px;
    line-height: 1;
}
.pointer {
    cursor: pointer;
}
.btn.edBtn{
    background-color: #008280;
    background: linear-gradient(181deg, #008280, #004339);
    color: #fff;
}
.btn.edBtn:hover {
    background-color: #008280;
}
.headingEdCard {
    margin: 0 0 25px;
    color: #005d56;
    font-weight: bold;
    font-size: 40px;
}
.textBox_one {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    width: auto;
    min-height: 170px;
    min-width: 170px;
    border-radius: 15px;
}
.textBox_two {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin: 0;
    min-height: 40px;
    min-width: 170px;
    font-size: 18px;
    font-weight: bold;
}
.textBox_three {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    min-height: 170px;
    max-width: 60%;
    display: inline-block;
}
textarea.form-control.rounded-pill {
    border-radius: 20px !important;
    resize: none;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.widget {
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 25px 30px 35px;
}
.widget-user-about .info-list li {
    font-size: 14px;
    margin-bottom: 6px;
}
.widget-user-about .info-list li span {
    color: #9e9faf;
    min-width: 75px;
    display: inline-block;
}
.user-about {
    padding: 26px 30px;
}
.user-about .user-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid #e6ebf2;
    margin-bottom: 12px;
    padding-bottom: 2px;
}
.user-about .user-info li label {
    min-width: 240px;
    margin-right: 10px;
    color: #71728c;
}
.block-box {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.paymentDetails {
    border-bottom: 1px dashed #005d56;
}
.paymentDetails p {
    font-weight: bold;
    color: #005d56;
}
/* The container */
.RDO_container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .RDO_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .RDO_container i {
      z-index: 2;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    z-index: 0;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
.RDO_container .checkmark:before {
    content: '';
    border: 2px solid #008280;
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border-radius: 50%;
    left: 7px;
}

.RDO_container:hover input ~ .checkmark {
    background-color: #004339;
}
.RDO_container input:checked ~ .checkmark {
    background-color: #004339;
}
.RDO_container input:checked ~ .checkmark:after {
    display: block;
}
.RDO_container input:checked ~ .checkmark:before {
    border-color:#fff;
}
.RDO_container .checkmark:after {
    top: 11px;
    left: 10.8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #004339;
    z-index: 2;
}
.RDO_container input ~  i  {
    color: #004339;
}
.RDO_container input:checked ~  i {
    color: #fff;
}
.locationIcon {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.playIcon {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.youtubeIcon {
    position: absolute;
    bottom: 130px;
    right: 30px;
}
.min-100vh {
    min-height: 100vh;
}